{% extends "devconfig_layout.html" %}

{%- macro render_field(field) -%}
  <tr>
    <td>{{ field.short_name|e }}</td>
    <td>
      {%- if "required" in field.flags -%}
	<span class="badge">required</span>
      {%- endif -%}
    </td>
    <td>
      {%- if field.type == "TextField" -%}
	string
      {%- elif field.type == "IntegerField" -%}
	integer
      {%- elif field.type == "SelectField" -%}
	any of:
	{% for choice, _ in field.choices -%}
	  {{- "," if loop.index > 1 }}
	  "{{ choice }}"
	{%- endfor -%}
      {%- endif -%}
    </td>
    <td>
      {{- field.description|e -}}
    </td>
  </tr>
{%- endmacro -%}

{%- macro render_form(form) -%}
  <table class="table">
    {%- for field in form() -%}
      {{- render_field(field) -}}
    {%- endfor -%}
  </table>
{% endmacro %}

{%- macro render_route(route) -%}
  <div class="row">
    <div class="col-md-2">
      <h4>{{ route['methods']|e }}</h4>
    </div>
    <div class="col-md-10">
      <a class="anchor" id="{{ route['id']|e }}"></a>
      <h4 class="preformat">{{ route['url']|e }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
	<div class="panel-body">
	  {{ caller() }}
	</div>
      </div>
    </div>
  </div>
{%- endmacro -%}

{% block content %}

<ul>
    {% for route in routes.values()|sort(attribute="url"): %}
    <li><a href="#{{ route['id']|e }}"><samp class="preformat">{{route['url']|e}}</samp></a>
    {% endfor %}
</ul>

<h3>Authentication</h3>

Maybe later?

<h3>Configuration</h3>

<p>
  The following routes are used to access the server side configuration object
</p>
  
{%- call render_route(routes["api.api_config"]) -%}
  <h5>POST</h5>
  <p>
    Imports a configuration file.<br>
    Accepted content types: <code>application/json</code> and <code>application/octet-stream</code>.
  </p>
  <h5>GET</h5>
  <p>
    Exports the whole configuration file as it is.
  </p>
{%- endcall -%}

{%- call render_route(routes["api.api_groups"]) -%}
  <h5>POST</h5>
  <p>
      Create a new group in the configuration.<br>
    Expects a <a href="#group_fields">group object</a> in the request body.
  </p>
  <h5>GET</h5>
  <p>
    Returns a list of all group identifiers
  </p>
  <pre>
{
    groups: [
        "group-0", "group-foo", "group-n", ...
    ]
}
  </pre>
{%- endcall -%}

{%- call render_route(routes["api.api_group"]) -%}
  <h5>GET</h5>
  <p>
    Returns a <a href="#group_object">group object</a> which also
    contains list of devices in the group
  </p>
  <pre>
{
    id: "foo",
    name: "Foo",
    comment: "Hello world",
    devices: ["device-1", "lamp", "sauna"]
}
  </pre>
  <h5>PATCH</h5>
  <p>
    Updates the given group, normally required fields can be omitted and they will be left as they were.
  </p>
{%- endcall -%}

{%- call render_route(routes["api.api_add_device"]) -%}
  <h5>POST</h5>
  <p>
    Creates a new device.<br>
    Expects a <a href="#device_fields">device object</a> in the request body.<br>
    On success, returns the newly created <a href="#device_fields">device object</a>.
  </p>
{%- endcall -%}

{%- call render_route(routes["api.api_devices"]) -%}
  <h5>GET</h5>
  <p>
    Returns a list of device identifiers in the response body
  </p>
  <pre>
{
    devices: ["device-1", "lamp", "sauna"]
}
  </pre>
{%- endcall -%}

{%- call render_route(routes["api.api_device_config"]) -%}
  <h5>GET</h5>
  <p>
    Returns a list of <a href="#device_fields">device object</a>s.<br>
    Multiple devices can be queried by separating the ids in the url with a comma.
  </p>
  <pre>
{
    devices: [
        {
            id: "foo",
            ...
        },
        {
            id: "bar",
            ...
        }
    ]
}
  </pre>
  <h5>PATCH</h5>
  <p>
    Updates the given device configuration. <br>
    Unlike the GET method, PATCH can only be used with a single device id. <br>
    Expects a <a href="#device_fields">device object</a> in the request body. <br>
    Normally required fields can be omitted and they will be left as they were. <br>
    On success, returns the modified device in the response body.
  </p>
{%- endcall -%}

<h3>Status</h3>

<p>
  The following routes are used to control the state of the IHC module
</p>

{%- call render_route(routes["api.api_device_status"]) -%}
  <h5>POST</h5>
  <p>
    Modify status of a device. <br>
    Unlike the GET method, POST can only be used with a single device id. <br>
    Expects a <a href="#status_fields">status object</a> in the request body. <br>
    Returns the modified status_object in the response body. <br>
  </p>
  
  <h5>GET</h5>
  <p>
    Returns the status of a device. <br>
    Multiple devices can be queried by separating the ids in the url with a comma.
  </p>
  <pre>
{
    statuses: [
        {
            id: "foo",
            state: "enabled"
        },
        {
            id: "bar",
            state: "disabled"
        }
    ]
}
  </pre>
{%- endcall -%}

<h4 id="group_fields">Group object fields</h4>
{{ render_form(forms.GroupForm) }}

<h4 id="device_fields">Device object fields</h4>
{{ render_form(forms.DeviceForm) }}

<h4 id="status_fields">Status object fields</h4>
{{ render_form(forms.StatusForm) }}

{% endblock %}
