{% extends "devconfig_layout.html" %}

{% block title %}Configure{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h3>Groups</h3>
      <ul class="list-group">
	{% for group in groups %}
	  <li class="list-group-item">
	    <div class="row">
	      <div class="col-md-4 pull-left">
		{{ group["name"]|e }}
	      </div>
	      <div class="col-md-8 pull-right text-right">
		<a class="btn btn-primary" href="{{ url_for('.group_edit', groupid=group['id']) }}">
		  Edit
		</a>
	      </div>
	    </div>
	    <div class="row">
	      {{ group["comment"]|e }}
	    </div>
	    <div class="row">
	      <div class="col-md-12">
		{% if group["devices"]|count > 0 %}
		  <ul>
		    {% for device in group["devices"] %}
		      <li>
			<a href="{{ url_for('.configure_device', devid=device['id'])}}">
			  {{ device["name"]|e }}
			</a>
		      </li>
		    {% endfor %}
		  </ul>
		{% else %}
		  <p>No devices in this group</p>
		{% endif %}
	      </div>
	    </div>
	  </li>
	{% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
