{% extends "layout.html" %}

{% block modal %}
<div id="config-import-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="config-import-form" enctype="multipart/form-data">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	    <span aria-hiddenn="true">&times;</span>
	  </button>
	  <h4 class="modal-title">Import configuration</h4>
	</div>
	<div class="modal-body">
	  <div class="alert alert-danger hidden" id="config-import-messages"> </div>
	  <input type="file" name="config" id="config-input">
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  <button type="submit" class="btn btn-primary">Import</button>
	</div>
      </form>
    </div>
  </div>
</div>

<script>
    $("#config-import-form").submit(function(e) {
	var form = $(this);
	var url = window.location.protocol + "//" + window.location.host + "/api/config/";

	var formData = new FormData($(this)[0]);

	$.ajax({
	    type: "POST",
	    url: url,
	    data: formData,
	    cache: false,
	    contentType: false,
	    processData: false,
	    success: function(response) {
		$("#config-import-modal").modal("hide");
	    },
	    error: function(xhr, status, error) {
		$("#config-import-messages").removeClass("hidden");
		var data = JSON.parse(xhr.responseText);
		$("#config-import-messages").html(
		    "<p>" + data.message + "</p>");
	    }
	});
	
	e.preventDefault();
    });
</script>

{% endblock %}

{% block sidebar %}
  <ul class="nav">
    <li><a href="{{ url_for('.add_group') }}"><span class="glyphicon glyphicon-plus"></span> Add group</a></li>
    <li><a href="{{ url_for('.add_device') }}"><span class="glyphicon glyphicon-plus"></span> Add device</a></li>
    <li>
      <a href="#" data-toggle="modal" data-target="#config-import-modal">
	<span class="glyphicon glyphicon-import"></span> Import configuration
      </a>
    </li>
    <li><a href="{{ url_for('.export') }}"><span class="glyphicon glyphicon-export"></span> Export configuration</a></li>
  </ul>
{% endblock %}
