{% from "macros.html" import render_device_controls%}

{% extends "devconfig_layout.html" %}

{% block title %}Configure{% endblock %}

{% macro form_input(id, name, type, value) %}
  <div class="form-group">
    <label class="col-sm-2 control-label">{{ name|e }}</label>
    <div class="col-sm-10">
      <input class="form-control" type="{{ type|e }}" id="{{ id|e }}" value="{{ value|e }}">
    </div>
  </div>
{% endmacro %}

  {% block content %}
  <div class="col-md-4">
    <div id="warning-console">
    </div>
    
    <ul class="list-group">
      <li class="list-group-item">
	{{ render_device_controls(devconf) }}
      </li>
    </ul>
          
    <form class="form-horizontal">
      {{ form_input("dev-id", "Id", "text", devconf["id"]) }}
      {{ form_input("dev-name", "Name", "text", devconf["name"]) }}
      {{ form_input("dev-area", "Area", "text", devconf["area"]) }}
      {{ form_input("dev-module", "Module", "number", devconf["module"]) }}
      {{ form_input("dev-channel", "Channel", "number", devconf["channel"]) }}
      <div class="form-group">
	<div class="col-sm-10 col-sm-offset-2">
	  <button type="submit" class="btn btn-primary">Update</button>
	</div>
      </div>
  </div>
  <script type="text/javascript">
   SITE_ROOT = {{ request.script_root|tojson|safe }};
   var devIds = [
       {{ devconf["id"]|tojson|safe }},
   ];
  </script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/ihc.js') }}">
  </script>
{% endblock %}
