
{% extends "layout.html" %}

{% block sidebar %}
  <ul class="nav">
    <li><a href="{{url_for('index') }}">All</a></li>
    {% for group in config.get_groups()|sort %}
      <li><a href="{{url_for('group', name=group["id"]) }}">{{ group["name"] }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}

{% block content %}
{% endblock %}
