{% from "macros.html" import render_device_controls%}

{% extends "layout.html" %}

{% block sidebar %}
  <ul class="nav">
    <li><a href="{{url_for('.index') }}">All</a></li>
    {% for group in config.get_groups()|sort %}
      <li><a href="{{url_for('.group', groupid=group["id"]) }}">{{ group["name"] }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}

{% block content %}
  <div class="col-md-8 col-lg-6">
      <div class="row">
	  <div class="col-md-12">
	      <a href="{{ url_for('.api_help') }}">REST API docs</a>
	  </div>
      </div>
      
      <div class="row">
	  <div class="col-md-12">
	      <div id="warning-console">
	  </div>
      </div>

      <div class="row">
	  <div class="col-md-12">
	      <ul class="list-group">
		  {% for dev in devices %}
		  <li class="list-group-item">
		      {{ render_device_controls(dev) }}
  		  </li>
		  {% endfor %}
	      </ul>
	  </div>
      </div>
  </div>
  
  <script type="text/javascript">
   SITE_ROOT = {{ request.script_root|tojson|safe }};
   var devIds = [
       {% for dev in config.get_devices() -%}
       {{ dev["id"]|tojson|safe }},
       {% endfor -%}
   ];
  </script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/ihc.js') }}">
  </script>

{% endblock %}
