<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# jquery #}
    <script src="{{ url_for('.static', filename='js/jquery-2.2.3.min.js') }}"></script>

    {# bootstrap core #}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap-theme.min.css') }}" />
    <script src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>

    {# bootstrap-toggle #}
    <link rel="stylesheet" href="{{url_for(".static", filename="css/bootstrap-toggle.min.css")}}" />
    <script src="{{ url_for(".static", filename="js/bootstrap-toggle.min.js") }}"></script>

    {# custom #}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/webgui.css') }}" />    
    
    <title>{% block title %}IHC Web-GUI{% endblock %}</title>
  </head>
  
  <body>
    {%- block modal %} {% endblock -%}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ url_for('.index') }}">IHC Web-GUI</a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
		    <li><a href="{{ url_for('.index') }}">Status</a></li>
		    <li><a href="{{ url_for('.configure') }}">Configuration</a></li>
		</ul>
	    </div>
	</div>
    </nav>

    <div class="container-fluid">
	<div class="row">
	    <div class="col-sm-3 col-md-2 sidebar">
		{% block sidebar %}
		{% endblock %}
	    </div>
	    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div class="row">
		    <div class="col-md-12">
			<noscript>
			    <div class="alert alert-danger">
				Your browser doesn't seem to have Javascript enabled.
				This site can't be used without Javascript.
			    </div>
			</noscript>
		    </div>
		</div>
		<div class="row">
		    {% block content %} {% endblock %}
		</div>
	    </div>
	</div>
    </div>
  </body>
</html>
