
{% macro render_device_controls(dev) %}
<div class="row">
    <div class="col-md-4 pull-left">
	<a href="#"> {{ dev["name"] }}</a>
    </div>
    <div class="col-md-8">
	<div class="pull-right">
	    <input type="checkbox" data-toggle="toggle" data-size="normal"
		   id="dev-{{ dev['id']|e }}-toggle"
		   data-dev-id="{{ dev['id']|e }}">
	    <a href="{{ url_for('.configure_device', devid=dev['id']) }}" class="btn btn-default btn-md">
		<span class="glyphicon glyphicon-cog" area-hidden="true"></span>
	    </a>
	</div>
    </div>
</div>
{% endmacro %}
