
body {
    padding-top: 50px;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
    }

    .main {
	padding-right: 40px;
	padding-left: 40px;
    }

    .main .page-header {
	margin-top: 0;
    }
}

/* used in api docs */
.preformat {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    white-space: pre;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}